<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/books" class="<%= path === '/books' ? 'active' : '' %>"
              >Book List</a
            >
          </li>
          <li>
            <a
              href="/add-book"
              class="<%= path === '/add-book' ? 'active' : '' %>"
              >Add Book</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="container"><%- body %></main>
  </body>
</html>
